# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.env
.env
venv/
phoenixenv/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# APK
*.apk




# Others
*.bak
*.swp
bin/phoenix.hal9000.service
bin/phoenix.service